.container_prop_show {
  text-align: -webkit-center;
}

.prop_details {
  width: 50%;
  border: 2px solid black;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.prop_map {
  margin-top: 20px;
}
